*{
    box-sizing: border-box;
}
body{
    background-color: bisque;
    margin: 0;
}

ul, ol, li, a{
    list-style: none;
    text-decoration: none;
    list-style-type: none;
}

h2{
    color: rgb(255, 118, 118);
}

.mainContainer{
    margin: 0 auto;
    width: 100%;
}

.mainHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(247, 134, 134);
    width: 100%;
    height: 160px;
    align-items: center;
}

.mainHeader img{
    border-radius: 50%;
    width: 160px;
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.mainHeader nav ul li{
    display:inline-block;
    height: 50px;
    width:180px;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    text-align: center;
}

.mainHeader nav ul li a{
    color: white;
}

.mainHeader form input{
    width: 200px;
    border: solid white;
}

.mainHeader form button{
    width: 30px;
    border: solid white;
    background-color: white;
}

.peliculasPopulares{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
}

.peliculasPopulares div{
    display: inline-block;
    width: 380px;

}

.peliculasPopulares div h3{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.peliculasPopulares div img{
    width: 280px;
    margin-top: 5px;
}

.peliculasPopulares div h4{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

