*{
    box-sizing: border-box;
}
body{
    background-color: bisque;
    margin: 0;
}

ul, ol, li, a{
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

.mainContainer{
    margin: 0 auto;
    width: 100%;
}

.seudoBody{
    margin: 0 auto;
    width: 90%;
}

h2, h3, h4, p{
    color: rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

/* header */

.mainHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: rgb(247, 134, 134);
    width: 100%;
    height: 160px;
    align-items: center;
    margin-bottom: 30px;
}

.mainHeader img{
    border-radius: 50%;
    width: 160px;
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.mainHeader nav ul li{
    display:inline-block;
    height: 50px;
    width:180px;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    text-align: center;
    font-size: large;
}

.mainHeader nav ul li a{
    color: white;
}

.mainHeader form{
    display: flex;
    flex-wrap: nowrap;
}

.mainHeader form input{
    width: 200px;
    border: solid white;
}

input::placeholder{
    color: rgb(247, 134, 134);
}

.mainHeader form button{
    width: 30px;
    border: solid white;
    background-color: white;
    color: rgb(247, 134, 134);
}

/* footer */

.mainFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgb(247, 134, 134);
    width: 100%;
    height: 160px;
    align-items: center;
    margin-top: 40px;
}

.mainFooter ul li{
    display: inline-block;
    color: white;
    margin-right: 90px;
    margin-left: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

.mainFooter img{
    display: inline-block;
    width: 130px;
}

/* home */

.secciones_index{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.secciones_index div{
    display: inline-block;
    width: 250px;
}

.secciones_index div img{
    width: 230px;
    margin-top: 5px;
}

/* detail movie y serie */

.detail{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail_img{
    width: 360px;
    margin-right: 20px;
}

.detail_items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 20px;
    justify-content: center;
}

.detail_items h2{
    font-size: xx-large;
}

.detail_items ul{
    width: 100%;
}

.detail_items ul li{
    color: rgb(247, 134, 134);
    font-size: large;
    margin-bottom: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.detail_items ul li a{
    color: rgb(247, 134, 134);
}

.detail_items button{
    border: solid rgb(247, 134, 134);
    border-radius: 30px;
    background-color: rgb(247, 134, 134);
    color: white;
    font-size: large;
}

.detail_boton{
    margin-top: 20px;
    background-color: rgb(247, 134, 134);
    color: white;
    border-radius: 30px;
    border: solid rgb(247, 134, 134);
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.recomendaciones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.recomendaciones div{
    display: none;
    width: 250px;
}

.recomendaciones div img{
    width: 230px;
    margin-top: 20px;
}

.resenas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.resenas div{
    display: none;
    background-color: rgb(247, 134, 134);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
}

.resenas div ul li{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.trailer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.trailer iframe{
    display: none;
    margin-top: 20px;
}

.trailer p{
    display: none;
}

/* genres */

.genres{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.genres div {
    display:inline-block;
    width: 270px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.genres div img{
    width:250px;
    margin-top:5px;
}
.genres div h3{
    padding-left: 95px;
}
.genres div a{
    color: rgb(247, 134, 134);

}

/* detail genres */
.det_genres{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.det_genres div{
    display: inline-block;
    width: 250px;
}

.det_genres div img{
    width: 230px;
    margin-top: 5px;
}

/* favoritos */
.favoritos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.favoritos div{
    display: inline-block;
    width: 250px;
    align-items: center;
}

.favoritos div img{
    width:230px;
    margin-top: 10px;
}

/* search-results */
.search{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.search div{
    display: inline-block;
    width: 250px;
    align-items: center;
}

.search div img{
    width:230px;
    margin-top: 10px;
}

/* medidas responsive */


@media(max-width:450px){
    .mainHeader{
        flex-direction: column;
        height: 340px;
    }

    .mainHeader nav ul li{
        width: 100%;
        padding: 0;
    }

    .mainHeader img{
        margin-top: 20px;
    }

    .mainFooter{
        flex-direction: column;
        height: 300px;
        width: 100%;
    }

    .mainFooter ul li{
        width: 58%;
        text-align: center;
       
    }

    .mainFooter img{
        width: 150px;
    }

    .detail{
        flex-direction: column;
    }

    .detail_img{
       align-self: center;
       margin-right: 0;
    }

    .detail_items{
        width: 325px;
        margin-left: 25px;
    }


}