*{
    box-sizing: border-box;
}
body{
    background-color: bisque;
    margin: 0;
}

ul, ol, li, a{
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

.mainContainer{
    margin: 0 auto;
    width: 100%;
}

.seudoBody{
    margin: 0 auto;
    width: 90%;
}

h2{
    color: rgb(247, 134, 134);
}


.mainHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: rgb(247, 134, 134);
    width: 100%;
    height: 160px;
    align-items: center;
    margin-bottom: 30px;
}

.mainHeader img{
    border-radius: 50%;
    width: 160px;
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.mainHeader nav ul li{
    display:inline-block;
    height: 50px;
    width:180px;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    text-align: center;
    font-size: large;
}

.mainHeader nav ul li a{
    color: white;
}

.mainHeader form input{
    width: 200px;
    border: solid white;
}

.mainHeader form button{
    width: 30px;
    border: solid white;
    background-color: white;
}

.peliculasPopulares{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.peliculasPopulares div{
    display: inline-block;
    width: 250px;
    align-items: center;
}

.peliculasPopulares div h3{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.peliculasPopulares div p{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.peliculasPopulares div img{
    width: 230px;
    margin-top: 5px;
}

.peliculasPopulares div h4{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.seriesPopulares{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.seriesPopulares div{
    display: inline-block;
    width: 250px;
    align-items: center;
}

.seriesPopulares div h3{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.seriesPopulares div p{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.seriesPopulares div img{
    width: 230px;
    margin-top: 5px;
}

.seriesPopulares div h4{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.recomendadoParaTi{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.recomendadoParaTi div{
    display: inline-block;
    width: 250px;
    align-items: center;
}

.recomendadoParaTi div h3{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.recomendadoParaTi div p{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.recomendadoParaTi div img{
    width: 230px;
    margin-top: 5px;
}

.recomendadoParaTi div h4{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mainFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgb(247, 134, 134);
    width: 100%;
    height: 160px;
    align-items: center;
    margin-top: 40px;
}

.mainFooter ul li{
    display: inline-block;
    color: white;
    margin-right: 90px;
    margin-left: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

/* css detail movie y serie */

.detail{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail_img{
    width: 300px;
    margin-right: 20px;
}

.detail_items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end center;
    width: 600px;
    margin-left: 20px;
}

.detail_items h2{
    font-size: xx-large;
    display: inline;
}

.detail_items ul{
    width: 100%;
}

.detail_items ul li{
    color: rgb(247, 134, 134);
    font-size: large;
    margin-bottom: 15px;
}

.detail_items ul li a{
    color: rgb(247, 134, 134);
}

.detail_items button{
    border: solid rgb(247, 134, 134);
    border-radius: 30px;
    background-color: rgb(247, 134, 134);
    color: white;
    font-size: large;
}

/* css genres */

.genres{
    color: rgb(247, 134, 134);
}

.lista_peliculas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.detail-genres h2{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.detail-genres p{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.detail-accion{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.detail-accion div{
    display: inline-block;
    width: 250px;
    align-items: center;
}

.detail-accion div h3{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.detail-accion div img{
    width: 230px;
    margin-top: 5px;
}

.detail-comedia{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.detail-comedia div{
    display: inline-block;
    width: 250px;
    align-items: center;
}

.detail-comedia div h3{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.detail-comedia div img{
    width: 230px;
    margin-top: 5px;
}

.detail-drama{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.detail-drama div{
    display: inline-block;
    width: 250px;
    align-items: center;
}

.detail-drama div h3{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.detail-drama div img{
    width: 230px;
    margin-top: 5px;
}

.detail-suspenso{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.detail-suspenso div{
    display: inline-block;
    width: 250px;
    align-items: center;
}

.detail-suspenso div h3{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.detail-suspenso div img{
    width: 230px;
    margin-top: 5px;
}

.detail-romance{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.detail-romance div{
    display: inline-block;
    width: 250px;
    align-items: center;
}

.detail-romance div h3{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.detail-romance div img{
    width: 230px;
    margin-top: 5px;
}

.detail-crimen{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.detail-crimen div{
    display: inline-block;
    width: 250px;
    align-items: center;
}

.detail-crimen div h3{
    color:rgb(247, 134, 134);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.detail-crimen div img{
    width: 230px;
    margin-top: 5px;
}